* {
    border-style: dotted;
    border-width: 1px;
}
.header, 
.contn1,
.contn2,
.contn3,
.contn4,
.footer {
    border-color: pink;
}

/* GENERAL BODY STYLE */
body {
    border-style: solid;
    border-width: 5px;
    border-color: black;
    margin: 0;

    min-height: 100vh;

    display: flex;
    flex-direction: column;    
}


/* HEADER STYLES */
.header {
    background-color: black;

    display: flex;
    justify-content: space-between;
}
.header-logo {
    color: white;
    margin-left: 150px;
    font-size: 24px;
    font-weight: bold;

    display: flex;
    align-items: center;
}
.header-links {
    margin-right: 150px;
}
ul {
    list-style-type: none;
    font-size: 18px;

    display: flex;
    gap: 18px;
}
a {
    text-decoration: none;
    color: white;
}


/* CONTN1 STYLES */
.contn1 {
    background-color: black;
    padding: 50px 150px;

    flex: 1 1 auto;

    display: flex;
    justify-content: stretch;
}

.contn1-left {

    /*I: fix the width initially
    the flex-basis (so that it keeps 
    equal width as contn1-right): auto 
    will use that to start with, 
    but can shrink and grow as per 
    grow:1 and shrink:1 */
    width: 350px;
    height: 200px;
    flex: 1 1 auto;

    margin-right: 40px;
    font-size: 18px; 
}

.contn1-title {
    font-weight: bold;
    color: white;
    font-size: 48px;


    line-height: 1;

}
.contn1-text {
    color: white;
    margin: 12px 0;
}
.contn1-right {
    background-color: grey;
    color: white;

    /*I: fix the width initially
    the flex-basis (so that it keeps 
    equal width as contn1-left): auto 
    will use that to start with, 
    but can shrink and grow as per 
    grow:1 and shrink:1 */
    width: 350px;
    height: 200px;
    flex: 1 1 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}
.contn1-btn {
    color: white;
    background-color: blue;
    padding: 5px 20px;
    border-radius: 5px;
}

/* CONTN2 STYLES */
.contn2 {
    background-color: white;

    flex: 1 1 auto;
}




/* CONTN3 STYLES */
.contn3 {
    background-color: rgb(231, 228, 228);

    flex: 1 1 auto;
}

/* CONTN4 STYLES */
.contn4 {
    background-color: white;

    flex: 1 1 auto;
}






/* FOOTER STYLES */
.footer {
    background-color: black;
    color: white;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;

    margin-top: auto;
    margin-bottom: 0;

    display: flex;
    justify-content: center;
}



