* {
    /* border-style: dotted; */
    /* border-width: 1px; */
}
.header, 
.contn1,
.contn2,
.contn3,
.contn4,
.footer {
    border-color: pink;
}

/**********************/
/* GENERAL BODY STYLE */
/**********************/
body {
    border-style: solid;
    border-width: 5px;
    border-color: black;
    margin: 0;

    min-height: 100vh;

    display: flex;
    flex-direction: column;    
}

/*****************/
/* HEADER STYLES */
/*****************/
.header {
    background-color: black;

    display: flex;
    justify-content: space-between;
}
.header-logo {
    color: white;
    margin-left: 150px;
    font-size: 24px;
    font-weight: bold;

    display: flex;
    align-items: center;
}
.header-links {
    margin-right: 150px;
}
ul {
    list-style-type: none;
    font-size: 18px;

    display: flex;
    gap: 18px;
}
a {
    text-decoration: none;
    color: white;
}

/*****************/
/* CONTN1 STYLES */
/*****************/
.contn1 {
    background-color: black;
    padding: 20px 150px;

    flex: 1 1 auto;

    display: flex;
    justify-content: stretch;
}

.contn1-left {

    /*I: fix the width initially
    the flex-basis (so that it keeps 
    equal width as contn1-right): auto 
    will use that to start with, 
    but can shrink and grow as per 
    grow:1 and shrink:1 */
    width: 350px;
    height: 120px;
    flex: 1 1 auto;

    margin-right: 40px;
}

.contn1-title {
    font-weight: bold;
    color: white;
    font-size: 28px;


    line-height: 1;

}
.contn1-text {
    color: white;
    margin: 12px 0;
    font-size: 14px; 
}
.contn1-btn {
    color: white;
    font-size: 12px; 
    background-color: blue;
    padding: 5px 20px;
    border-radius: 5px;
}


.contn1-right {
    background-color: grey;
    color: white;
    font-size: 14px;

    /*I: fix the width initially
    the flex-basis (so that it keeps 
    equal width as contn1-left): auto 
    will use that to start with, 
    but can shrink and grow as per 
    grow:1 and shrink:1 */
    width: 350px;
    height: 120px;
    flex: 1 1 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}


/*****************/
/* CONTN2 STYLES */
/*****************/
.contn2 {
    flex: 1 1 auto;

    background-color: white;

    display: flex;
    flex-direction: column;
}

.contn2-title {
    padding: 20px;
    font-weight: bold;
    font-size: 26px;
    display: flex;
    justify-content: center;
}

.contn2-items {
    flex: 1 1 auto;

    display: flex;
    justify-content: center;
    gap: 50px;
    min-height: 140px;
}

.item {
    height: 90px;
    width: 100px;

    display: flex;
    flex-direction: column;
}
.item-img {
    border-style: solid;
    border-width: 2px;
    border-color: blue;
    border-radius: 12px;
    padding: 40px;
}
.item-title {
    font-size: 12px;
    text-align: center;
}


/*****************/
/* CONTN3 STYLES */
/*****************/
.contn3 {
    flex: 1 1 auto;

    background-color: rgb(231, 228, 228);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-right: 150px;
    padding-left: 150px;
}

.contn3-text {
    font-size: 22px;
    font-style: italic;
}
.contn3-author {
    font-weight: bold;
    margin-left: auto;
}



/*****************/
/* CONTN4 STYLES */
/*****************/
.contn4 {
    flex: 1 1 auto;

    background-color: blue;
    border-radius: 8px;
    margin: 50px 150px;

    display: flex;
    align-items: center;
}

.contn4-content {
    flex: 1 1 auto;
    background-color: white;
    margin: 50px 150px;

}

.contn4-title {
    font-weight: bold;
    color: white;
    background-color: blue;
}
.contn4-text {
    background-color: blue;
    color: white;
}
.contn4-btn {
    color: white;
    background-color: blue;
    border-color: white;
    border-radius: 4px;
    border-style: solid;
    padding: 4px 18px;
    margin-right: 80px;
    flex: 1 1 auto;
}

/*****************/
/* FOOTER STYLES */
/*****************/
.footer {
    background-color: black;
    color: white;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;

    margin-top: auto;
    margin-bottom: 0;

    display: flex;
    justify-content: center;
}



